@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.line-connector::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1px;
    width: 1px;
    height: 100%;
    background-color: red;
    transform: translateY(-50%);
  }
  